{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>The face is one of the easiest ways to distinguish the individual identity of each other.
            Face recognition is a personal identification system that uses personal characteristics of
            a person to identify the person's identity. Human face recognition procedure basically
            consists of two phases, namely face detection, where this process takes place very
            rapidly in humans, except under conditions where the object is located at a short
            distance away, the next is the introduction, which recognize a face as individuals. Stage
            is then replicated and developed as a model for facial image recognition (face
            recognition) is one of the much-studied biometrics technology and developed by experts.
            There are two kinds of methods that are currently popular in developed face recognition
            pattern namely, Eigenface method and Fisherface method. We use the fisherface Face
            recognition method to authenticate the any system. The area of this project face
            detection system is Image processing. The software requirements for this project are
            python</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>Face recognition is the task of identifying an already
                detected object as a known or unknown face. Often the
                problem of face recognition is confused with the
                problem of face detection Face Recognition on the
                other hand is to decide if the "face" is someone known,
                or unknown, using for this purpose a database of faces
                in order to validate this input face.</p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Block Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}